.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 85px);
}

.login-input {
    margin: 10px 0;
}

.label {
    color: #ffffff;
}

.login h1 {
    margin-bottom: 20px;
}