.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 85px);
}

.labelStyle {
    margin: 10px 0;
}

.label {
    color: #ffffff;
}

.passResetText {
    margin-top: 10px;
}

.passResetLink {
    color: cornflowerblue;
}

.dialogContent {
    display: flex;
    flex-direction: column;
}

.maxWidth {
    max-width: 800px;
    margin: 0 auto;
}

.bottomContainer {
    display: flex;
    gap: 15px;
}
